<h2>Welcome</h2>
<%= link_to "Site Management", sites_path, class: "btn btn-large btn-info" %>
<%= link_to "LO Management", learning_objects_path, class: "btn btn-large btn-info" %>
<%= link_to "Upload Learning Object", new_learning_object_path, class: "btn btn-large btn-success" %>

